* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}

@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}


body {
	background-color: #2f4730;
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}